@{
    ViewBag.Title = "Home Page";
}

<head>

    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
</head>
<style>
    body {
        background: white;
    }

    #inicialTitle {
        font-weight: bold;
        font-family: Bahnschrift;
        background-color: #80808070;
        border-radius: 10px 10px 10px 10px;
        margin-right: 20%;
        margin-left: 20%;
    }



    #mision {
        font-family: 'Century Gothic';
        font-size: 22px;
        text-align: center;
        margin-bottom: 6%;
    }

    h2 {
        text-align: center;
        font-family: 'Century Gothic';
        font-size: 30px;
        color: #1487eb;
        text-align: center;
        margin-bottom: 4%;
    }

    h3 {
        text-align: center;
        font-family: 'Century Gothic';
        font-size: 20px;
        color: #003359;
        text-align: center;
        font-weight: bold;
    }


    #fotoPrincipal {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../../img/bg_Cover.jpg');
        padding: 10%;
    }

    #tituloPrincipal {
        color: white;
        text-align: center;
        font-family: 'Century Gothic';
        font-weight: bold;
        font-size: 60px;
        text-shadow: 2px 2px #010101;
    }

    #tituloSecundario {
        color: white;
        text-align: center;
        font-family: 'Century Gothic';
        font-weight: bold;
        text-shadow: 2px 2px #010101;
    }

    #QuienesSomos {
        margin-top: 2%;
    }

    .jumbotron {
        background: white;
    }

    #servicios { /*fotos*/
        box-shadow: 4px 3px 13px 0px black
    }
</style>


<div id="fotoPrincipal" class="row">

    <h1 id="tituloPrincipal">LAVAMOS TU AUTO DONDE SEA QUE ESTÉS</h1>
    <h3 id="tituloSecundario">No te muevas de tu casa, nosotros llegamos y lavamos tu auto.</h3>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <a href="/account/register" style="margin-top: 5%;" class="btn btn-info btn-lg">¡Solicitá tu lavado!</a>
    </div>
</div>



<div class="container">

    <div class="row" id="QuienesSomos" style="background-color:white;">
        <div class="col-md-12 jumbotron">
            <h2>¿Quiénes Somos?</h2>
            <p id="mision">
                Brindar la facilidad de contratar un servicio de lavado automotor a domicilio a cualquier residente argentino que sea amante de su auto y desee mantenerlo siempre limpio y vistoso, asegurando calidad de servicio y tranquilidad.
            </p>

            <div class="col-md-4 text-center">
                <img src="~/img/calidad.png" style="height:200px; width:200px;" />
                <h3>CALIDAD</h3>
                <p style="font-family:'Century Gothic'">Profesionales capacitados, productos de primera calidad y respuesta inmediata.</p>
            </div>


            <div class="col-md-4 text-center">
                <img src="~/img/comodidad.PNG" style="height:200px; width:200px;" />
                <h3>COMODIDAD</h3>
                <p style="font-family:'Century Gothic'">Sin moverte de donde estés y con solo un click, llegamos.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/img/ecofriendly.png" style="height:200px; width:200px;" />
                <h3>ECO-FRIENDLY</h3>
                <p style="font-family:'Century Gothic'">Ahorramos el consumo de agua y utilizamos productos ecológicos.</p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 jumbotron" style="background:#1487eb">
            <h2 style="color:white; font-family:'Century Gothic'; font-size:30px">Nuestros Servicios</h2>
            <p style="color:white; font-family:'Century Gothic'; text-align:center; font-size:22px;margin-top: -2%;">¡No más tiempos de espera antes y durante el lavado de tu auto! Ofrecemos tres servicios que se acomodan a tus necesidades, solicitá el tuyo.</p>

            <div class="col-md-4 text-center">
                <img id="servicios" src="~/img/servicio básico.jpg" />
            </div>
            <div class="col-md-4 text-center">
                <img id="servicios" src="~/img/servicio-estándar.jpg" />
                
            </div>
            <div class="col-md-4 text-center">
                <img id="servicios" src="~/img/servicio-premium.jpg" />
            </div>

        </div>

    </div>

</div>